@import "tailwindcss";

@theme inline {
  --color-preppy-bg: #f9f9f9;
  --color-card-bg: rgba(255, 255, 255, 0.4);
  --color-card-border: rgba(255, 255, 255, 0.5);
  --color-text-main: #333333;
  --color-accent: #a0c4ff;
  --blur-glass: 20px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
  
  /* !!! PURE CSS GRADIENT !!! */
  background: radial-gradient(circle at 10% 20%, rgb(239, 246, 255) 0%, rgb(255, 255, 255) 40%, rgb(240, 249, 255) 100%);
  background-attachment: fixed;
}

@layer components {
  .glass {
    background-color: var(--color-card-bg);
    backdrop-filter: blur(var(--blur-glass));
    -webkit-backdrop-filter: blur(var(--blur-glass));
    border: 1px solid var(--color-card-border);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}